labeled-data/ filter=lfs diff=lfs merge=lfs -text
dlc-models/iteration-5 filter=lfs diff=lfs merge=lfs -text
labeled-data/output000 filter=lfs diff=lfs merge=lfs -text
labeled-data/output000_cropped/ filter=lfs diff=lfs merge=lfs -text
training-datasets/ filter=lfs diff=lfs merge=lfs -text
